body {
  margin: 0;
  width: 100%;
  color: #ccc;
  background-color: #fff;
  
  text-align: center;
  font-family: Lucida Sans, sans-serif;
  font-weight: bold;
  cursor: crosshair;
}
#ld38 {
  width:800px;
  margin: 30px auto;
}
a{
  color: #020;
  text-decoration:none;
}
