body {
  margin: 0;
  width: 100%;
  color: #ccc;
  background-color: pink;
  text-align: center;
  font-family: Arial, sans-serif;
  cursor: crosshair;
}
#ld38 {
  width:800px;
  margin: 30px auto;
}
a{
  color: #fff;
}
